<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sfm.mapper.BoardMapper">

    <select id="listView" resultType="com.sfm.model.BoardVO">
        SELECT b_no,b_title,b_content,b_writer,b_views,TO_CHAR(b_date,'YYYY-mm-dd hh24:mi') as b_dateformat
               from sfm_board ORDER BY b_no desc
    </select>

    <select id="contentView" resultType="com.sfm.model.BoardVO">
        SELECT b_no,b_title,b_content,b_writer,b_views,TO_CHAR(b_date,'YYYY-mm-dd hh24:mi') as b_dateformat
        from sfm_board
        where #{b_no}
    </select>
    
    <insert id="insertBoard" parameterType="com.sfm.model.BoardVO">
<!--        <selectKey keyProperty="seq" order="BEFORE" resultType="int">-->
<!--            SELECT sfm_board_seq.NEXTVAL FROM DUAL-->
<!--        </selectKey>-->
        INSERT INTO sfm_board (b_no,b_title,b_content,b_writer,b_views,b_date)
        VALUES (sfm_board_seq.NEXTVAL, #{b_title}, #{b_content}, '임시 작성자',0,sysdate)
    </insert>

</mapper>