<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sfm.mapper.CommentMapper">

    <!-- 댓글 읽기-->
    <select id="commentList" resultType="com.sfm.model.CommentVO">
        SELECT * FROM SFM_BOARD_COMMENT WHERE B_NO = #{B_NO}
    </select>

</mapper>